button.example-custom-date-class {
    background: #207EA4;
    border-radius: 100%;
  }

  .form-border {
    border-style: groove;
    border-width: 1px;
    border-left: 5px solid #207EA4;
    border-color: #207EA4;
    border-radius: 8px;
  }